<div class="footer">
    <div class="footer-text">
        <div class="footer-logo"><img src="assets/img/template/logo-name.png" alt=""></div>
        <div class="footer-slogan">
          <p>Do you know, what happends<br>
          around you?</p>
        </div>
    </div>
    
    <div class="copyright">
      <p> © 2019 VIROUND. All rights reserved. </p>
    </div>
    <div class="footer-terms">
      <a href="#">Terms and conditions </a>
    </div>
  </div>