<header class="header gradient">
    <div class="container">
        <nav class="navbar navbar-expand-lg nav-fixed">
            <a class="navbar-brand" href="/"><img src="assets/img/template/logo.png" alt=""> Viround</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto inner-top-menu">
                <li><button type="button" class="btn btn-light add-event-btn"><a href="#">ADD EVENT</a></button></li>
                <li><a href="template/allevents.html">Home</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="template/following.html">Following</a></li>
                <li class='top-bell'><a href="#"><i class="far fa-bell fa-2x"></i><span>100</span></a></li>
              </ul>                                   
              <ul class="navbar-nav">
                  <form class="form-inline my-2">
                      <select class="form-control" id="select-lang">
                        <option>English</option>
                        <option>Русский</option>
                        <option>Francaise</option>
                        <option>Espaniol</option>
                        <option>Portugues</option>
                        <option>Arabian</option>
                      </select>
                  </form> 
                  <li><img src="assets/img/template/user_picture.png" alt="" class="header-user-avatar"></li>
                  <li class="nav-item dropdown top-user-menu">                        
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Firstname
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="template/user.html"><i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="template/settings.html"><i class="fas fa-cog"></i> Setting</a>                                                     
                        <a class="dropdown-item" href="template/reportonbugs.html"><i class="fas fa-bug"></i> Report on bugs</a>                             
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                      </div>
                    </li>                     
              </ul> 
            </div>
        </nav>  
    </div>          
</header>