@media screen and (max-width: 991px) {

    .inner-top-menu button{
        width: 100%;
        text-align: center;
    }

    .add-event-btn {
        border-radius: 20px;
        text-transform: uppercase;
        font-family: 'Lato-Bold';
        font-size: 12px;
        margin: 10px 0 10px 0;
    }

    .inner-top-menu li {
        margin-right: 20px;
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .header-user-avatar{
        display: none;
    }

    #select-lang, #navbarDropdown {
        font-size: 22px;
        text-align: center;
    }

    .inner-top-menu ul>li{
        width: 100%;
        text-align: center;
    }
}