@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/fonts/Lato-Regular.ttf');
}

.main-page{
    height: 100vh;
    background: url('/assets/img/template/mainpagebg.jpg') no-repeat;
    background-size: cover;
    color:#fff;
}

.turn-div-centr{
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 300px;
}

.main-page-text{
    font-family: 'Lato-Bold';
    /* margin:auto auto; */
    padding: 20% 0 0 0;
    width:800px;    
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.main-page-text button{
    border-radius: 25px;
    padding:10px 20px;
}

.main-page-text button:hover{
    color: #E66F41;
}

.main-page-text .btn-light{
    color: #E66F41;
}

.top{
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
}

.top a{
    color: #fff;
}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#select-lang{
    background: none;
    border: none;
    color:#fff;
    padding: 0;
}

#select-lang option{
    color: #000;
}
