@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/fonts/Lato-Regular.ttf');
}

/* ---------------------------------- */

/* main settings */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {    
    padding: 0;
    margin: 0;
    font-family: 'Lato-Regular';
  }

/* end main settings */

/* ---------------------------------- */

/* colors */

.facebook-color{
    background: #3B5998;
    color:#fff;
}

.instagramm-color{
    background: #CB2694;
    color:#fff;
}

.vk-color{
    background: #4A76A8;
    color: #fff;
}

.gradient {
    background: #e9932d; /* Для старых браузров */
    background: linear-gradient(to right, #e9932d, #e5612f);
    color: #fff;
    border:none;
}

.gradient:hover {
    background: #e9932d; /* Для старых браузров */
    background: linear-gradient(to left, #e9932d, #e5612f);
    color: #fff;
}

button.gradient{
    border-radius:15px;
}

/* end colors */

/* ---------------------------------- */


/* header */

header{
    color: #fff;
    position: fixed;
    width:100%;
    z-index: 100;
}

.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: #fff;    
}

.navbar-collapse a:hover{
    border-bottom: 1px solid #fff;
}

#select-lang{
    background: none;
    border: none;
    color:#fff;
    padding: 0;
}

#select-lang option{
    color: #000;
}

.dropdown-menu a, .dropdown-menu a:hover{
    color: #000;
}

.header-user-avatar{
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 20% 50%;
}

.top-user-menu{
    padding: 5px 0 0 0;
}

.add-event-btn{
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 12px;
    margin: 0 50px 0 110px;
}

.add-event-btn a, .add-event-btn a:hover{
    color: #e5612f;
    text-decoration: none;
}

.inner-top-menu li{
    margin-right: 20px;
}

.inner-top-menu li>a{
    text-decoration: none;
}

.top-bell{
    margin-left: 20px;
}

li.top-bell > a:hover{
    text-decoration: none;
}

li.top-bell > a > span{
    background: #fff;
    color: #e5612f;
    border: 1px solid #e5612f;
    border-radius: 30%;
    padding: 2px;
    font-size: 14px;
    position: relative;
    bottom: 13px;
    right: 13px;
}

/* end header */

/* ---------------------------------- */

/* wrap */

#wrap{
    padding-top: 100px;  
    height: auto !important;
    min-height:100%;
    margin-bottom: 400px;
}

#wrap h1, #wrap h3{
    text-align: center;
    font-family: 'Lato-Bold';
    margin:0 0 40px 0;
}

/* end wrap */

/* ---------------------------------- */

/* login */

.login-box{
    width: 500px;
    margin: 0 auto;
}


.login-box a{
    color: #e88d2d;
}

.login-box #phone{
    width: 500px;
}

.login-submit{
    font-family: "Lato-Bold";
    width: 100%;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    padding: 10px 0;
}

.forgot-password-box{
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.intl-tel-input .country-list{
    width: 500px;
}

.login-width-social{
    width: 200px;
    margin: -39px auto 20px;
    text-align: center;
    background: #fff;
    padding: 10px;
    color: #646464;
}

.social-login-button{
    width: 100%;
    text-align: center;
}

.social-login-button button{
    width: 30%;
}

/* end login */

/* ---------------------------------- */

/* register */

.login-box form input, .register-box form input{
    border-radius: 0px;
    border:none;
    border-bottom: 1px solid #e1e1e1;
}


.register-box #phone{
    width: 541px;
}

.submit-btn{
    width: 500px;
    margin: 0 auto;
}

.i-agree-check{
   text-align: center;
   margin: 15px 0;
}

/* end register */

/* ---------------------------------- */

/* settings */

.settings-page{
    margin: 0 auto;
}

.settings-page-item{
    margin: 0 0 25px 0;
    padding-bottom: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.22);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 20px 0 40px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 1px;
    background: #e5612f;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e5612f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e5612f;
  }


  input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: #e5612f;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e5612f;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #e5612f;
  }
  input[type=range]::-ms-fill-upper {
    background: #e5612f;
  }
  input[type=range]::-ms-thumb {
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e5612f;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #e5612f;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #e5612f;
  }

/* end settings */

/* ---------------------------------- */

/* all events */

.search-side{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.search-field-side{
    margin-left: 20px;
    
}

#select-search-type{
    border-radius: 15px 0 0 15px;
    border-right: none;
}

#search-field{
    border-radius: 0 15px 15px 0;
    width: 600px;
    margin-right: 20px;
}

.main-menu{
    margin: 20px auto;
    text-align: center;
}

.main-menu ul{
    margin: 0 0 30px 0;
}

.main-menu li{
    list-style: none;
    display: inline;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    border:1px solid #d0d0d0;
    color: #2e2e2e;
    border-radius: 15px;
}

.main-menu li:hover{
    background: #e9932d; /* Для старых браузров */
    background: linear-gradient(to right, #e9932d, #e5612f);
    color: #fff;
    border:none;
}

.main-menu li>a{
    color: #2e2e2e;
}

.main-menu li>a:hover{
    text-decoration: none;
    color: #fff;
}

.list-map-switcher{
    text-align: center;
    margin: 0 auto;
}

button.show-events{
    border:1px solid #e5612f;
    border-right: none;
    margin: 0;
    padding: 5px 40px;
    border-radius: 15px 0 0 15px;
}

button.show-map{
    border:1px solid #e5612f;
    margin-left: -5px;
    padding: 5px 40px;
    border-radius: 0 15px 15px 0;
}

button.show-map:hover{
    background: #fff;
    color: #e5612f;
}

button.show-events:hover{    
    background: #fff;
    color: #e5612f;
}

.event-list{
    margin: 40px 0;    
}

.event-item{
    margin-bottom: 25px;
}

.event-item img{
    width: 100%;
}

.event-item h4{
    font-family: "Lato-Bold";
    font-size: 16px;
    padding:10px 2px;
}

.event-item a{
    color: #2e2e2e;
}

.event-item-info{
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.22);
}

.event-item-info>span{    
    width: 25%;
    margin:10px;
}

.event-item-info>span>i{    
    margin:0 10px;
}

.preloader{
    width: 100%;
    text-align: center;
}


/* end all events */

/* ---------------------------------- */

/* user page */

.user-info-box{
    text-align: center;
}

.user-info-avatar{
    height: 250px;
    overflow: hidden;
    position: relative;
}

.user-info-avatar-upload{
    position: absolute;
    z-index: 10;
    right: 34%;
    width: 100px;
    bottom: 30%;
    display: none;
}

.user-info-avatar:hover .user-info-avatar-upload{
    display: block;
}

.user-info-box img{    
    width:250px;
    border-radius: 20% 50%;
}

.user-info-box img:hover{    
    width:250px;
    border-radius: 50% 20% ;
}

.user-info-left button, .user-info-right button{
    font-family: "Lato-Bold";
    width: 80%;
    margin: 10px;
    text-transform: uppercase;
}

.user-info-right button{
    /* text-align: left; */
}

.user-info-following{
    background: #e9932d;
}

.user-info-following:hover{
    border:1px solid #e9932d;
    color:#e9932d;
}

.user-info-block{
    background: #e77a2e;
}

.user-info-block:hover{
    border:1px solid #e77a2e;
    color:#e77a2e;
}

.user-info-send{
    background: #e5612f;
}

.user-info-send:hover{
    border:1px solid #e5612f;
    color:#e5612f;
}

.user-info-counters{
    text-align: center;   
}

.user-info-counters a{
    color: #e5612f;
    text-decoration: none;
}

.user-info-counters p{
    color: #e5612f;
}

.user-info-counters span{
    font-family: "Lato-Bold";
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 50px;
    padding: 10px 5px;
    border-radius: 50% 20%;       
}

.user-info-counters span:hover{
    border-radius: 20% 50%;
}

.user-info-search{
    margin: 50px auto;
    text-align: center;
}

.user-info-search form>input{
    width: 70%;
}

/* .user-info-right button{
    border-radius: 10% 20%;
} */

/* end user page */

/* ---------------------------------- */

/* followers */

.followers-page a{
    color: #2e2e2e;
    text-decoration: none;
    display: block;
}

.follower-item span{
    font-family: "Lato-Bold";
    font-size: 16px;
    padding-top: 10px;
}

.follower-item:hover{
    background: #f1f1f1;
    box-shadow: 0 4px 4px rgba(0,0,0,0.22);
}

.follower-item-avatar{
    height: 80px;
    overflow: hidden;
}

.follower-item img{
    width: 80px;
    padding-top: 10px;
}

.follower-item-banned{
    color:#e52f2f;
    padding: 15px 0 0 0;
}

.follower-item-events{
    color:#e5612f;
    padding: 15px 0 0 0;
}

.follower-item-name{
    padding: 15px 0 0 10px;
}

/* end followers */

/* ---------------------------------- */

/* one event */

.one-event{
    margin: 0 auto;
}

.event-slider{
    margin: 0 auto;
}

.event-info-author a{
    color: #2e2e2e;
    text-decoration: none;
    position: relative;
    top: -20px;
}

.event-info-author img{
    width: 50px;
    margin: 15px 10px;
    border-radius: 20% 50%;
    border:1px solid #e88d2d;
}

.event-info-for-user{
    float: right;
}

.event-info-for-user span{
    margin-right: 15px;
}

.report-bad-content{
    color: #e52f2f;
    cursor: pointer;
}

.event-data{
    margin: 20px 0;
}

.event-data a{
    color: #2e2e2e;
}

.event-data a:hover{
    text-decoration: none;
}

button.event-category{
    margin-bottom: 20px;
    border-radius: 15px;
}

.alert-dark {
    color: #1b1e21;
    background-color: #fbfbfb;
    border-color: #c6c8ca;
}

.event-comments{
    border-top: 1px solid #646464;
    margin: 10px 0;
    padding-top: 10px;
}

.comment, .replay{
    /* box-shadow: 0 4px 4px rgba(0,0,0,0.22); */
    padding: 15px;
    
}

.comment:hover{
    box-shadow: 0 4px 4px rgba(0,0,0,0.22);
    background: #e1e1e1;
    border-radius: 10px;
    
}

.comment-text{
    border-bottom: 1px solid #d0d0d0;
}

.comentator{
    margin: 20px;
}

.comentator img{
    font-family: "Lato-Bold";
    width: 50px;
    border-radius: 20px 50px;
}
.comentator a{
    color: #2e2e2e;
    text-decoration: none;
    font-size: 18px;
}

.comment-rules button{
    height: 24px;
    padding: 0 5px;
}

.add-comment{
    margin: 20px 0;
}

.yes-btn, .no-btn{
    width:49%;
}

.no-btn{
    background: #e52f2f;
    color: #fff;
    border-radius: 15px;
}

.no-btn:hover{
    background:#920b0b;
    color: #fff;
}

.event-edit-del{
 position: relative;
 left: 20px;
}

.event-edit-del-btns{
    position: fixed;
    top:105px;
    margin: -10px 0 0 -120px; 
}

.event-edit-del-btns a{
    position: static;
}
/* end one event */

/* ---------------------------------- */

/* add event */

.add-event{
    margin: 0 auto;
}

.custom-file-container {
    max-width: 100%;
    margin: 0 auto;
}

.save-btn{
    width: 100%;
}

.ui-timepicker-container.ui-timepicker-standard{
    z-index: 99 !important;
}

/* end add event */

/* ---------------------------------- */

/* footer */

.footer{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background: #2e2e2e;
    position: absolute;
    bottom: 0;
    color: #646464;
    padding: 0;
    text-align: center;    
}

.footer a{
    color:#fff;
}

.footer-logo{
    margin-top:100px; 
}

.footer-logo img{
    width: 200px;
}

.footer-slogan{
    margin:10px 0 75px 0; 
}


/* end footer */

/* ---------------------------------- */